body {
	font-family: monospace;
	padding: 5px;
	margin: 10px;
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

nav,
ul {
	list-style-type: none;
	padding-inline-start: 15px;
}

nav li,
ul li {
	margin-bottom: 10px;
}

@media (prefers-color-scheme: light) {
	body {
		background: #FFF;
		color: #444444;
	}

	a {
		color: #0969da;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #303030;
		color: #B3B3B3;
	}

	a {
		color: #2F81F7;
	}
}

#time {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 12px;
	color: #999;
	margin: 10px;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}

.dashed-underline {
	text-decoration: underline dotted;
	cursor: pointer;
}

.spaced-before {
	display: inline-block;
	padding-top: 160px;
	padding-bottom: 40px;
}

.huge-text {
	font-size: 5rem;
}
