body {
  font-family: "Space Mono", monospace;
  font-size: 18px;
}

nav,
ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-style: normal;
}

.container {
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  overflow-wrap: break-word;
  text-align: start;
  position: relative;
  margin: 43px 0px 10px calc((100% - 980px) * 0.5);
  left: 36px;
  height: auto;
}

@media (prefers-color-scheme: light) {
  body {
    background: #FFF;
    color: #6A6A6A;
  }

  a {
    color: #0969da;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #303030;
    color: #B3B3B3;
  }

  a {
    color: #2F81F7;
  }
}